$main-bg-color: #2a2931;
$rated: #ffd700;
$default-text-color: #fff;
$default_bg_color: #000;


div {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $main-bg-color;
}

.cont {
    background-color: $main-bg-color;
}

.rated {
    color: $rated;
}

.rates {
    margin-top: 10px;
    margin-right: 7px;
    cursor: pointer;
}

@mixin flexy {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin movie_base {
    margin: 10px;
    position: relative;
}

@mixin movie__average {
    position: absolute;
    top: 10px;
    color: $default-text-color;
    @include flexy;
}

a {
    color: inherit; 
    text-decoration: none; 
  }
  
  a:hover {
    text-decoration: none; 
    color: inherit; 
  }

  .movie_cont {
    display: flex;
    background-color: $main-bg-color;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 50px;
   
}
